.createnote{
    max-width: 500px;
    width: 100%;
    margin: auto;
    border: 10px solid #ccc;
    padding: 30px;
}
 .createnote h2{
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 10px 0;
}
 .row{
    width: 100%;
  margin: 10px 0;
}
.row label{
    width: 100%;
    height: 40px;
    padding:  0 5px;
    font-size: 20px;
}
.row input{
    width: 100%;
    height: 40px;
    padding:  0 5px;
}
.row textarea{
    width: 100%;
    resize: none;
    padding: 0 5px;
    height:100px;
}
.createnote button{
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  color: rgb(7,25,63); 
}
.createnote button:hover{
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    background-color: rgb(7,25,63); 
    color:white;
  }
@media screen and (max-width:500px) {
    .createnote{
        padding:15px;
        border:5px sold #ccc;
    }
}

