*{
  padding:0;
  box-sizing:border-box;
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background: rgb(63,9,63);
}
.notes-page{
  width:100%;
  min-height:100vh;
  color:whitesmoke;
}
a{
  text-decoration: none;
  color:whitesmoke;
}
@import url("./components/navbar/navbar.css");
@import url("./pages/home/home.css");
@import url("./pages/create/create.css");
@import url("./pages/login/login.css");